node_modules
build
dist
coverage
src/shared
temp
*.lock
.github
.gitignore
.npmrc
.prettierignore
.prettierrc
docker-compose.yml
package.json
package-lock.json
pnpm-lock.yaml
.dockerignore
tsconfig.json
Dockerfile
index.html
.gitmodules
*.ttf
*.otf
*.woff
*.woff2
*.eot