// region Gilroy font styles

h1.gilroy {
  color: #FFFFFF;
  font-size: vw(14);
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
  &.px16 {
    font-size: vw(16);
  }
  &.px20 {
    font-weight: 700;
    font-size: vw(20);
  }
  &.black {
    color: #000000;
  }
}

p.gilroy {
  color: #FFFFFF;
  font-size: vw(14);
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
  &.px16 {
    font-size: vw(16);
  }
  &.black {
    color: #000000;
  }
}

// endregion